{% extends 'JobeetBundle::layout.html.twig' %}
 
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/jobeet/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
    <div id="jobs">
      {% for category in categories %}
        <div class="category_{{category.slug}}">
          <div class="category">
            <div class="feed">
              <a href="">Feed</a>
            </div>
              <h1><a href="{{ path('cat_show', {'slug': category.getSlugName} ) }}">{{category.name}}</a></h1>
          </div>
          
          <!-- Include : liste jobs -->
          {% include 'JobeetBundle:Job:list.html.twig' with {'jobs': category.activejobs} %}
          
          {% if category.moreJobs %}
              <div class="more_jobs">
                  and <a href="{{ path('cat_show', {'slug': category.getSlugName})}}">{{ category.moreJobs }} </a>
                  more...
              </div>
          {% endif %}
          
          
        </div>
      {% endfor %}
    </div>
{% endblock %}